.book-collection {
  list-style: none;
  margin: 0;
}

.book-collection li {
  padding: 0 2% 0px 2%;
  /*width: 16.66%;
  float: left;*/
  margin: 0px auto 2.5em auto;
  position: relative;
  min-width: 143px;
  min-height: 300px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}

.book-collection li a img {
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  margin: 10px 0;
}

.book-collection li a h2 {
  text-shadow: none;
  font-size: 18px;
  margin-bottom: 5px;
  min-height: 2.1em;
  max-width: 150px;
}


.book-collection li a p {
  font-size: 12px;
}

.book-collection li a:link,
.book-collection li a:visited {
  text-decoration: none;
}

.book-collection li a:hover img,
.book-collection li a:active img {
  box-shadow: 0 0 5px rgba(0,0,0,.75);
  padding: 0px 0px 0px 0px;
}

.book-collection li a:hover p,
.book-collection li a:active p {
  text-decoration: none;
}

.book-collection li a small {
  display:none;
  font-size: 19px;
  margin: 0 auto 10px;
  width: 143px;
  text-align: center;
  height:36px;
  line-height:36px;
}

.book-collection .buy-button:after{
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    vertical-align: middle;
    border-top: 8px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 15px solid white;
    margin-left: .7em;
}

.book-collection li a:active small,
.book-collection li a:hover small {
  display:block;
  position: absolute;
}

.author-image{
  margin-bottom: 4px;
}

.curator-description{
  white-space: pre-line;
  margin-bottom: 2em;
  color: #000;
}
